

/*Home_Page*/
.homepage{
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
/*Header*/
#text_div{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 10px;
  }
  #tsparticles{
    background-image: url('./Images/Welcome.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .center_all{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: white;
  }
/*Admin Name*/
.adminHead{
    color: #000;
    text-shadow: 0 0 2px #fff, 1px 1px 5px #000;
}
.navclr{
    background: #000;
}
/*Header*/
#signin2{
    margin-left: 750px;
}
/*Home Page*/
#particle{
    background-image: url('./Images/Welcome.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  /*#particle::before{
    content: "E-Digital_Cart";
    position: absolute;
    color: #ddd;
    text-shadow: 1px 1px 10px #000, 3px 3px 5px red;
    font-size: 150px;
    line-height: 6;
    height: 100px;
    overflow: visible;
  }*/
#jumbo2{
    margin: 5rem;
}
.homeTitleHead{
    color: #ddd;
    text-shadow: 1px 1px 10px #000 , 3px 3px 5px red;;
    font-size: 90px;
}
/*SIGNIN/SIGNUP*/
form{
    background:rgb(38, 53, 63);
}
label{
    color: #fff;
}
.App{
    background: rgb(38, 53, 63);
}
input{
    width:35vw;
    height: 38px;
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 1%;
}
input:focus{
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}
#signin{
    margin-top: 2%;
}
#fname{
    width: 97%;
}
#lname{
    width: 97%;
}
#signup{
    margin-top: 2%;
}
form{
    border: 1px solid #000;
    padding: 5%;
    box-shadow: 1px 1px 10px #000;
    border-top-left-radius: 20px;
}
/* wishlist*/
.wishlist{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.wSide{
    flex: 30%;
    height: 100%;
    background: aqua;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.userProfile{
    flex: 30%;
    margin: 10%;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 100%;
    flex-direction: row;
    background: #fff;
}
.userImg{
    flex: 30%;
    border-radius: 50px;
}.userfName{
    flex: 50%;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 3;
    text-shadow: 0 0 10px #000;
}
#userLogo{
    width: 100px;
    border-radius: 50px;
}
.userOrder{
    flex: 70%;
    margin: 10%;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 100%;
    flex-direction: row;
    background: aqua;
}
.orderTitile{
    flex: 80%;
}
.orderIcon{
    flex: 20%;
    font-size: 20px;
    border-radius: 20px;
}
.wMain{
    flex: 70%;
    background: border-box;
}
/*Wishlist Main Part*/

.wishlistTitle{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #fff;
    height: 100px;
}
.wTitle{
    font-size: 60px;
}
.wishlistUser{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 5%;
    background: #f7f7f7;
}
.wishlistImg{
    flex: 25%;
}
.wishlistDescription{
    flex: 65%;
    text-transform: capitalize;
}
.wishlistDelete{
    flex: 10%;
    display: flex;
    justify-content: center;
}
#wishlistDelete{
    height: 50px;
    width: 50px;
    border-top-left-radius: 20px;
    background: red;
    color: #fff;
    box-shadow: 0 0 5px #000;
    margin-top: 35%;
}



/* order*/
.order{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.wSide{
    flex: 30%;
    height: 100%;
    background: aqua;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.userProfile{
    flex: 30%;
    margin: 10%;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 100%;
    flex-direction: row;
    background: #fff;
}
.userImg{
    flex: 30%;
    border-radius: 50px;
}.userfName{
    flex: 50%;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 3;
    text-shadow: 0 0 10px #000;
}
#userLogo{
    width: 100px;
    border-radius: 50px;
}
/*.userOrder{
    flex: 70%;
    margin: 10%;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 100%;
    flex-direction: row;
    background: aqua;
}*/
.orderTitile{
    flex: 80%;
}
.orderIcon{
    flex: 20%;
    font-size: 20px;
    border-radius: 20px;
}
/*.wMain{
    flex: 70%;
    background: border-box;
}*/
/*order Main Part*/

.orderTitle{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #fff;
    height: 100px;
}

.wTitle{
    font-size: 60px;
}
.orderUser{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 5%;
    background: #f7f7f7;
}
.orderImg{
    flex: 25%;
}
.orderDescription{
    flex: 65%;
    text-transform: capitalize;
}
.orderDelete{
    flex: 10%;
    display: flex;
    justify-content: center;
}
#orderDelete{
    height: 50px;
    width: 50px;
    border-top-left-radius: 20px;
    background: red;
    color: #fff;
    box-shadow: 0 0 5px #000;
    margin-top: 35%;
}
/*All Products*/
/*.orderTitle{
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    padding: 5%;
    background: rgb(58, 32, 32);
    color: #f5f5f5;
    margin-bottom: 5%;
}*/
.orderHeading{
    font-size: 50px;
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 1px 1px 5px #000;
}
.allOrders{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    font-size: 30px;
    height: 100px;
    background: #495057;
    color: #f7f7f7;
    line-height: 2;
    padding: 1%;
    align-items: center;
    text-align: center;
}
.productDetail{
    flex: 25%;
    box-shadow: 0 0 10px #56f622;
}
.userDetail{
    flex: 25%;
    box-shadow: 0 0 10px #56f622;
}
.timeDetail{
    flex: 20%;
    box-shadow: 0 0 10px #56f622;
}
.Status{
    flex: 20%;
    box-shadow: 0 0 10px #56f622;
}
.orderRemove{
    flex: 10%;
    box-shadow: 0 0 10px #56f622;
}
.allOrderData{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 1%;
    margin-bottom: 5%;
}
.productData{
    flex: 25%;
}
.cardProduct{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 2%;
    box-shadow: 0 0 10px #56f622;
}
.productMainDetail{
    display: flex;
    flex-wrap: wrap;
}
.productMain{
    display: flex;
    flex-wrap: wrap;
}
._id{
    width: 205px;
    /*margin-left: 9%;*/
    margin-bottom: 0;
}
._title{
    /*margin-left: 33%;*/
    margin-bottom: 15px;
}
.productAuthor{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    text-decoration: underline;
}
.productPrice{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    border: 1px solid #8daeeb;
    margin-bottom: 0;
    font-size: 25px;
    text-shadow: 1px 1px 0 #000;
    background: goldenrod;
}

.userData{
    flex: 25%;
}
.timeData{
    flex: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0 0 10px #56f622;
}
.timeData h3{
    font-size: 20px;
    line-height: 5;
}
.StatusData{
    flex: 20%;
}
.orderRemData{
    flex: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0 0 10px #56f622;
}
#ordRem{
    height: 50px;
    width: 50px;
    margin-top: 65%;
    border-top-left-radius: 20px;
    background: red;
}

/*All Products*/
.allProduct{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #fff;
    height: 100px;
    margin-top: 5%;
}
.allProduct2{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #fff;
}
.allProductHead{
    font-size: 50px;
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 1px 1px 5px #000;
}
.allProductHead2{
    font-size: 30px;
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 1px 1px 5px #000;
    margin-right: 55%;
}
/*Footer Bootstrap*/
table{
    width: 100%;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    border-bottom: 1px solid rgb(61, 61, 61);
}
thead{
    background-color: rgb(38, 53, 63);
}
thead tr td{
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 20px;
}
tbody tr td{
    background-color: rgb(247, 244, 248);
    padding-top: 10px;
    padding-bottom: 10px;
}
td{
    cursor: pointer;
}
tr{
    margin: 10px;
}
.para{
    text-align: center;
}
.card-img-top{
    height: 200px!important;
    cursor: pointer;
}
@media(max-width:500px){
    input{
        width:85vw
    }
    #fname, #lname {
        width: 104%;
    }
    .homeTitleHead {
        font-size: 40px;
    }
    #signin2{
        margin-left: 0px;
    }
    .allProductHead2{
        margin-right: 0%;
    }
    #jumbo2{
        margin: 1rem;
    }
}